# **(Car price prediction)**

## Objectives

* Fetch data from Kaggle and save as raw data
* Clean and transform the data
* Load data into a suitable format for analysis
* Ensure data quality and

## Inputs

* Using data from https://www.kaggle.com/datasets/hellbuoy/car-price-prediction 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/Hackathon1/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspace/Hackathon1'

# Section 1

Extract data from dataset and begin cleaning

In [18]:
# Read csv file and output as pandas df 

import pandas as pd

data = pd.read_csv('CarPrice_Assignment.csv')

data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [19]:
# Check for missing values 

data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [20]:
# Inspect data types

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

Deciding to drop columns that aren't relevant to car price, and removing others that are similar to each other in terms of how they could affect price(example: Wheelbase and carwidth)

In [21]:
enginelocation_amount = data['enginelocation'].value_counts()
enginelocation_amount

front    202
rear       3
Name: enginelocation, dtype: int64

In [22]:
sort_by_price = data.sort_values(by=['price'], ascending=False)
sort_by_price.head(10)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
74,75,1,buick regal sport coupe (turbo),gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400.0
16,17,0,bmw x5,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315.0
73,74,0,buick century special,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960.0
128,129,3,porsche boxter,gas,std,two,convertible,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207,5900,17,25,37028.0
17,18,0,bmw x3,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880.0
49,50,0,jaguar xk,gas,std,two,sedan,rwd,front,102.0,...,326,mpfi,3.54,2.76,11.5,262,5000,13,17,36000.0
48,49,0,jaguar xf,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176,4750,15,19,35550.0
72,73,3,buick skylark,gas,std,two,convertible,rwd,front,96.6,...,234,mpfi,3.46,3.10,8.3,155,4750,16,18,35056.0
71,72,-1,buick opel isuzu deluxe,gas,std,four,sedan,rwd,front,115.6,...,234,mpfi,3.46,3.10,8.3,155,4750,16,18,34184.0
127,128,3,porsche cayenne,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207,5900,17,25,34028.0

Decided to keep enginelocation for now as although there are only 3 values, 2 of those values are in the top 10 priced cars

In [23]:
dropped_columns = ['car_ID', 'carwidth', 'carlength', 'carheight',
                   'boreratio', 'stroke', 'compressionratio', 'peakrpm',
                   'symboling', 'doornumber', 'fuelsystem', 'enginetype',
                    'enginesize', 'fuelsystem', 'aspiration']
data = data.drop(columns=dropped_columns, axis=1)
data.head()

,CarName,fueltype,carbody,drivewheel,enginelocation,wheelbase,curbweight,cylindernumber,horsepower,citympg,highwaympg,price
0,alfa-romero giulia,gas,convertible,rwd,front,88.6,2548,four,111,21,27,13495.0
1,alfa-romero stelvio,gas,convertible,rwd,front,88.6,2548,four,111,21,27,16500.0
2,alfa-romero Quadrifoglio,gas,hatchback,rwd,front,94.5,2823,six,154,19,26,16500.0
3,audi 100 ls,gas,sedan,fwd,front,99.8,2337,four,102,24,30,13950.0
4,audi 100ls,gas,sedan,4wd,front,99.4,2824,five,115,18,22,17450.0

- Removed car_ID as it is irrelevant to price
- Removed car width/length/height as wheelbase and weight are going to be used for the size of the car
- Removed boreratio, stroke, compressionratio and peakrpm as I have enginesize, horsepower and cylindernumber for car performace which I think are better
- Looked up symboling and it is a risk factor rating which would be more correlated with insurance prices, also from the top 10 priced cars above there didn't appear to be relevant to price of the car as half of the cars there have a 0 rating.
- Removed door number as I already have cartype and having less doors could make the car more or less expensive depending on whether it's a sportscar or hatchback, which would be shown in cartype anyway.
- Retroactively dropped fuelsystem, enginetype, enginesize, fuelsystem and aspiration due to some of them having similarities to other variables and also time constraints

In [24]:
# Check for duplicates

data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
200    False
201    False
202    False
203    False
204    False
Length: 205, dtype: bool

In [25]:
data.describe()

,wheelbase,curbweight,horsepower,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,98.756585,2555.565854,104.117073,25.219512,30.751220,13276.710571
std,6.021776,520.680204,39.544167,6.542142,6.886443,7988.852332
min,86.600000,1488.000000,48.000000,13.000000,16.000000,5118.000000
25%,94.500000,2145.000000,70.000000,19.000000,25.000000,7788.000000
50%,97.000000,2414.000000,95.000000,24.000000,30.000000,10295.000000
75%,102.400000,2935.000000,116.000000,30.000000,34.000000,16503.000000
max,120.900000,4066.000000,288.000000,49.000000,54.000000,45400.000000

Checking how many unique car names there are, will most likely just remove models and just keep the brand if there are a lot

In [26]:
data['CarName'].unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [27]:
data['CarName'] = data['CarName'].str.split().str[0]


data.head()

,CarName,fueltype,carbody,drivewheel,enginelocation,wheelbase,curbweight,cylindernumber,horsepower,citympg,highwaympg,price
0,alfa-romero,gas,convertible,rwd,front,88.6,2548,four,111,21,27,13495.0
1,alfa-romero,gas,convertible,rwd,front,88.6,2548,four,111,21,27,16500.0
2,alfa-romero,gas,hatchback,rwd,front,94.5,2823,six,154,19,26,16500.0
3,audi,gas,sedan,fwd,front,99.8,2337,four,102,24,30,13950.0
4,audi,gas,sedan,4wd,front,99.4,2824,five,115,18,22,17450.0

Now I have to fix the brands with spelling errors and duplicates and confirm they have been fixed

In [28]:
brand_correction = {
    'alfa-romero': 'alfa-romeo',
    'maxda': 'mazda',
    'toyouta': 'toyota',
    'vokswagen': 'volkswagen',
    'vw': 'volkswagen',
    'porcshce': 'porsche',
    'Nissan': 'nissan'
}

data['CarName'] = data['CarName'].replace(brand_correction)
data['CarName'].unique()

array(['alfa-romeo', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porsche', 'renault', 'saab',
       'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

Now going to check all other variables that have potentially repeated values due to spelling errors

In [32]:
columns = ['fueltype', 'carbody', 'drivewheel',
           'enginelocation', 'cylindernumber']

for col in columns:
    print(f"{col}: {data[col].unique()}")

fueltype: ['gas' 'diesel']
carbody: ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
drivewheel: ['rwd' 'fwd' '4wd']
enginelocation: ['front' 'rear']
cylindernumber: ['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']

changing cylindernumbers from strings to numbers

In [33]:
cylinder_correction = {
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'eight': 8,
    'twelve': 12
}

data['cylindernumber'] = data['cylindernumber'].replace(cylinder_correction)
data['cylindernumber'].unique()

array([ 4,  6,  5,  3, 12,  2,  8])

In [34]:
data.head()

,CarName,fueltype,carbody,drivewheel,enginelocation,wheelbase,curbweight,cylindernumber,horsepower,citympg,highwaympg,price
0,alfa-romeo,gas,convertible,rwd,front,88.6,2548,4,111,21,27,13495.0
1,alfa-romeo,gas,convertible,rwd,front,88.6,2548,4,111,21,27,16500.0
2,alfa-romeo,gas,hatchback,rwd,front,94.5,2823,6,154,19,26,16500.0
3,audi,gas,sedan,fwd,front,99.8,2337,4,102,24,30,13950.0
4,audi,gas,sedan,4wd,front,99.4,2824,5,115,18,22,17450.0

sending 'cleaned' data to a new csv file

In [91]:
data.to_csv('/workspace/Hackathon1/cleaned_data.csv', index=False)

In [95]:
clean_data = pd.read_csv('cleaned_data.csv')
clean_data.head()

,Unnamed: 0,fueltype,aspiration,carbody,drivewheel,enginelocation,wheelbase,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,horsepower,citympg,highwaympg,price,Brand
0,0,gas,std,convertible,rwd,front,88.6,2548,dohc,four,130,mpfi,111,21,27,13495.0,alfa-romeo
1,1,gas,std,convertible,rwd,front,88.6,2548,dohc,four,130,mpfi,111,21,27,16500.0,alfa-romeo
2,2,gas,std,hatchback,rwd,front,94.5,2823,ohc,six,152,mpfi,154,19,26,16500.0,alfa-romeo
3,3,gas,std,sedan,fwd,front,99.8,2337,ohc,four,109,mpfi,102,24,30,13950.0,audi
4,4,gas,std,sedan,4wd,front,99.4,2824,ohc,five,136,mpfi,115,18,22,17450.0,audi

In [96]:
clean_data = clean_data.drop(columns='Unnamed: 0', axis=1)
clean_data

,fueltype,aspiration,carbody,drivewheel,enginelocation,wheelbase,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,horsepower,citympg,highwaympg,price,Brand
0,gas,std,convertible,rwd,front,88.6,2548,dohc,four,130,mpfi,111,21,27,13495.0,alfa-romeo
1,gas,std,convertible,rwd,front,88.6,2548,dohc,four,130,mpfi,111,21,27,16500.0,alfa-romeo
2,gas,std,hatchback,rwd,front,94.5,2823,ohc,six,152,mpfi,154,19,26,16500.0,alfa-romeo
3,gas,std,sedan,fwd,front,99.8,2337,ohc,four,109,mpfi,102,24,30,13950.0,audi
4,gas,std,sedan,4wd,front,99.4,2824,ohc,five,136,mpfi,115,18,22,17450.0,audi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,gas,std,sedan,rwd,front,109.1,2952,ohc,four,141,mpfi,114,23,28,16845.0,volvo
201,gas,turbo,sedan,rwd,front,109.1,3049,ohc,four,141,mpfi,160,19,25,19045.0,volvo
202,gas,std,sedan,rwd,front,109.1,3012,ohc,six,173,mpfi,134,18,23,21485.0,volvo
203,diesel,turbo,sedan,rwd,front,109.1,3217,ohc,six,145,idi,106,26,27,22470.0,volvo
204,gas,turbo,sedan,rwd,front,109.1,3062,ohc,four,141,mpfi,114,19,25,22625.0,volvo

---

# Section 2

Making basic charts/graphs using Matplotlib and Seaborn and trying to understand the data structure

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)